@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body,
html {
  color: #305cde;
  background-color: #0c090d;
}

::selection {
  background: #305cde;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #dad2d8;
  font-family: "Roboto Serif", serif;
}

h3 {
  color: #305cde;
}

p {
  color: #305cde;
  font-family: "Roboto", serif;
}

.copyright {
  color: #305cde;
  font-family: "Roboto Serif", serif;
}

a,
a > p,
a > svg {
  color: #dad2d8;
  font-family: "Roboto", serif;
}

a:hover,
a > p:hover {
  color: #305cde;
}
